Source: plantuml
Section: devel
Priority: optional
Maintainer: Andrew Shadura <andrewsh@debian.org>
Uploaders: Christopher Hoskin <mans0954@debian.org>, Enrique Garcia <bitbucket@lemambo.com>
Build-Depends:
 ant, ant-contrib,
 javacc,
 debhelper (>= 9),
 default-jdk,
 libfop-java,
 libbatik-java
Standards-Version: 4.0.0
Homepage: http://plantuml.com/

Package: plantuml
Architecture: all
Depends:
 ${misc:Depends},
 default-jre,
 libfop-java,
 libbatik-java,
 libjlatexmath-java,
 libavalon-framework-java,
 libcommons-io-java,
 libcommons-logging-java,
 libxmlgraphics-commons-java,
 graphviz
Description: text-to-UML converter
 PlantUML is a program allowing to draw UML diagrams, using a simple
 human readable text description.
 .
 PlantUML supports the following diagram types:
   - sequence diagram
   - use case diagram
   - class diagram
   - activity diagram
   - component diagram
   - state diagram
 .
 Output images can be generated in PNG, in SVG or LaTeX format.
 PlantUML also supports generation of ASCII art diagrams (only for
 sequence diagrams).
